<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <add key="github" value="%ENVIRONMENT_VARIABLE%/PRIVATE_NUGET_FEED_ADDRESS" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="%ENVIRONMENT_VARIABLE%/PRIVATE_NUGET_USER_FEED" />
      <add key="ClearTextPassword" value="%ENVIRONMENT_VARIABLE%/PRIVATE_NUGET_FEED_PASSWORD" />
    </github>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*"/>
    </packageSource>
    <packageSource key="github">
      <package pattern="*"/>
    </packageSource>
  </packageSourceMapping>
</configuration>